<%= form_for (@article) do |f|%>
  <div class="row">
    <%= f.label "Text", for: "textarea1" %>
    <%= f.text_field :text, id: "textarea1", class: "materialize-textarea"%>
  </div>

  <%= f.submit "編集する", class: "waves-effect waves-light btn" %>
<% end %>