<!DOCTYPE html>
<html>
<head>
  <title>ミニアプリ</title>
   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

</head>
<body>
<%# article %>
  <% @articles.each do |article| %>
      <div class="row">
        <div class="col s12 m6 offset-m3">
          <div class="card white">
            <div class="card-content black-text">
              <p>記事テスト記事テスト記事テスト記事テスト記事テスト記事テスト記事テスト記事テスト記事テスト記事テスト
              記事テスト記事テスト記事テスト記事テスト記事テスト記事テスト記事テスト記事テスト記事テスト記事テスト記事テスト
              記事テスト記事テスト記事テスト記事テスト記事テスト記事テスト記事テスト記事テスト記事テスト記事テスト記事テスト</p>
            </div>
            <div class="card-action">
              <a href="#">編集</a>
              <a href="#">削除</a>
            </div>
          </div>
        </div>
      </div>
  <% end %>

<script type="text/javascript" src="./app.js"></script>
</body>
</html>