<%# 記事入力フォーム %>
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Text</label>
        </div>
      </div>
    </form>
  </div>

<%# 投稿ボタン %>
  <a class="waves-effect waves-light btn">作成する</a>